**/obj/
**/bin/
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/bin
**/obj
**/Dockerfile
**/.Dockerfile
**/docker-compose.yml

Dockerfile.*
Dockerfile

